<!DOCTYPE html>
<html>
<head>
  <title>Ticketing</title>
  <%= stylesheet_link_tag    "ticketing/application", media: "all" %>
  <%= javascript_include_tag "ticketing/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
