{{! placeholder }}
{{#if ticketingVisible}}
  <div class='ticketing-settings'>
    <h1>Discourse Ticketing</h1>
  </div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Nathan</td>
      </tr>
    </tbody>
  </table>
{{/if}}

