.topic-ticket {
  display: flex;
  align-items: center;
  padding: 10px;

  .control-group {
    margin-right: 15px;
  }

  .controls {
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.save {
      min-width: 60px;
      margin-left: 10px;
      justify-content: space-between;

      > .btn {
        margin: 0;
      }
    }
  }
}
