.tickets-controls-container-outlet {
  display: block;
  width: 100%;
  margin-bottom: 9px;
}

.tickets-controls {
  .toggle-ticket {
    display: block;
  }

  .ticket-controls {
    padding-top: 14px;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;

    .control-group {
      margin-right: 15px;
    }

    .controls {
      min-height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      &.save {
        min-width: 60px;
        margin-left: 10px;
        justify-content: space-between;

        > .btn {
          margin: 0;
        }
      }
    }
  }

  .assign {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 10px;
  }
}

.discourse-tags {
  i.ticket-icon {
    margin-right: 4px;
    color: $primary-medium;
  }

  .ticket, .ticket:hover {
    margin-right: 4px;
  }
}

.admin-tickets {
  .tickets-filters {
    vertical-align: top;

    .controls {
      display: flex;
      align-items: center;

      > * {
        margin-right: 10px;
      }
    }

    .filters {
      margin: 10px 0;
    }

    .filter {
      display: inline-block;
      margin-right: 10px;

      span {
        padding: 6px 12px;
        background-color: $primary-low;
      }
    }
  }

  a.discourse-tag:after {
    content: ',';
  }

  a.discourse-tag:last-of-type:after {
    content: '';
  }
}
