#topic-title .topic-ticket {
  position: relative;

  .toggle-ticket-edit {
    margin-left: 7px;
  }

  .ticket-edit {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: $secondary;
    padding: 10px;
    left: -100px;
    top: 20px;
    z-index: 100;
    box-shadow: shadow('dropdown');
    border: 1px solid $primary-low;

    .control-group {
      margin-right: 15px;
    }

    .controls {
      min-height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      &.save {
        min-width: 60px;
        margin-left: 10px;
        justify-content: space-between;

        > .btn {
          margin: 0;
        }
      }
    }
  }
}
